fastapi
uvicorn[standard]

sqlalchemy
pymysql
alembic

python-dotenv
pydantic
pydantic-settings
python-multipart

passlib[bcrypt]==1.7.4
bcrypt==4.0.1

python-jose[cryptography]

email-validator
python-slugify

razorpay

pytest
httpx
mysqlclient